.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button, .button--notOk, .button--ok {
  width: 200px;
  height: 70px;
  background-color: brown;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.button--ok {
  background-color: green;
}
.button--notOk {
  background-color: red;
}

.about-list {
  height: 100vh;
}

.header {
  width: 100%;
  background-color: red;
}

.asd {
  color: red;
}

.qwe {
  width: 200px;
  background-color: red;
}