.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button, .button--notOk, .button--ok {
  width: 200px;
  height: 70px;
  background-color: brown;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
.button--ok {
  background-color: green;
}
.button--notOk {
  background-color: red;
}

.about-list {
  height: 100vh;
}

.box {
  width: 450px;
  height: 622px;
  background-color: aqua;
}
@media (min-width: 768px) {
  .box {
    width: 700px;
    height: 1000px;
    background-color: green;
  }
}
@media (min-width: 1200px) {
  .box {
    width: 1100px;
    height: 2000px;
    background-color: red;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 100%;
    background-color: red;
  }
}

.mobile-div {
  display: none;
}
@media (min-width: 1200px) {
  .mobile-div {
    display: block;
  }
}

.mobile-menu {
  display: block;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.asd {
  color: red;
}

.section-text {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  color: #757575;
}

.section2-text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  color: red;
}

.qwe {
  width: 200px;
  background-color: red;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  background-color: rgb(12, 158, 158);
  padding: 20px;
  transition: right 350ms linear;
}

.mobile-menu.active {
  right: 0;
}