/* * - селектор який обирає усі теги на сторінці   */
* {
  /* margin - зовнішній відступ який дозволяє відштовхуватись від інших елементів, padding - внутрішні відступи елемента */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
