/* * - селектор який обирає усі теги на сторінці   */
* {
  /* margin - зовнішній відступ який дозволяє відштовхуватись від інших елементів, padding - внутрішні відступи елемента */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test_img {
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 10px solid red;
}
