/* .monday td:first-child {
  background-color: red;
}

.monday td:last-child {
  background-color: green;
}

.monday td:nth-child(even) {
  background-color: blue;
}

.monday td:nth-child(odd) {
  background-color: brown;
}

.monday td:first-child:hover {
  background-color: lime;
} */

td {
  /* font-family: - підключення сімейства шрифту до цього елементу   */
  font-family: "Montserrat", serif;
  /* font-style - нахресленя шрифту */
  font-style: normal;
  /* font-weight - жирність,насиченість шрифту */
  font-weight: 400;
}

.p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  /*line-height - міжрядковий інтервал  */
  line-height: 30px;

  line-height: 41px;

  text-align: center;
  /*  */
  text-transform: uppercase;

  /* color: #fed136; */
}
