.list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* .special {
  width: 20px;
  height: 20px;
  background-color: red;
} */
.icon {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  /* color: red; */
  /* fill - колір ліній */
  fill: red;
  /* stroke - обводка */
  stroke: aqua;
}

.svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  stroke: red;
}
