.team-list {
  height: 100vh;
  /* Батьківський елемент каже дитячим "встаньте в рядочок" */
  /* flex- гнучкий */
  display: flex;
  /* дозволяє керувати осями flexbox(поставити у стовпчик або у  рядок) */
  /* direction - напрямок */
  flex-direction: column;
  /*  */
  flex-direction: column-reverse;
  /* row - значення за замовчуванням */
  flex-direction: row;

  flex-direction: row-reverse;
  /* Вирівнювання по ширині - по середині */
  justify-content: center;
  /* Вирівнювання по ширині - однакові відступи між елементами */
  justify-content: space-evenly;
  /*align-items: - вирівнювання по висоті  */
  align-items: center;

  flex-wrap: wrap;

  list-style: none;
}

.team-photo {
  /* width: 100px;
  height: 100px; */
}

.team-list li {
  background-color: green;
}
