.list {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* .special {
  width: 20px;
  height: 20px;
  background-color: red;
} */
.icon {
  width: 50px;
  height: 50px;
  /* background-color: red; */
  /* color: red; */
  /* fill - колір ліній */
  fill: red;
  /* stroke - обводка */
  stroke: aqua;
}

.svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  stroke: red;
}

.text {
  font-family: cursive;
  font-style: italic;
}

.icon-google-plus-square {
  color: red;
  font-size: 50px;
}

.button {
  width: 200px;
  height: 70px;
  padding: 20px;
  background-color: midnightblue;
  color: red;
  font-family: cursive;
  font-size: 20px;
  transition: background-color 1s linear, color 1s linear;
}

.button:hover {
  background-color: tomato;
  color: black;
}
/* color- стилює тільки шрифт */
/* fill - Колір внутрішнього вмісту svg  */
/* stroke - колір обводки  svg*/
