.header {
  @media (min-width: 1200px) {
    width: 100%;
    background-color: $newVar;
  }
}

.mobile-div {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.mobile-menu {
  display: block;
  @media (min-width: 1200px) {
    display: none;
  }
}
