img {
  width: 100%;
  height: auto;
  display: block;
}

.img {
  width: 260px;
}

.background {
  width: 700px;
  height: 700px;
  background-image: url("../../assets/img/mob1x.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../assets/img/mob2x.webp");
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url("../../assets/img/mob3x.webp");
  }
  @media (min-width: 1200px) {
    @media (min-device-pixel-ratio: 1),
      (min-resolution: 86dpi),
      (min-resolution: 1dppx) {
      background-image: url("../../assets/img/desk1x.webp");
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../assets/img/desk2x.webp");
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url("../../assets/img/desk3x.webp");
    }
  }
}
