.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  background-color: rgb(12, 158, 158);
  padding: 20px;
  transition: right 350ms linear;
}

.mobile-menu.active {
  right: 0;
}
